@{
    ViewData["Title"] = "Create Group";
}


<div>
    <h3>Create Group</h3>
</div>
<form method="post" style="margin: 5% 0 0">
    <div class="newGroup">
        <p>Group Name:</p>
        <input type="text" style="margin: 1px 0 2px" name="groupName" /><br/>
        <input type="submit" value="Create" />
    </div>
</form>