@model IEnumerable<GroupViewModel>

@{
    ViewData["Title"] = "Groups";
}

<h3>Following table shows the groups detail</h3>
<p>You can also create a new user <a href="~/Groups/Create">here</a>. </p>

<table class="groups-table">
    <tr>
        <th>Id</th>
        <th>Group Name</th>
        <th>Group Members</th>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var user in Model)
        {
            // Create the list of these groups
            <tr>
                <td>@user.GroupId</td>
                <td>@user.GroupName</td>
                @if (user.GroupUsers != null)
                {
                    <td>@string.Join(", ", user.GroupUsers.Select(x => x.FirstName + " " + x.LastName).ToList())</td>
                }

            </tr>
        }
    }
</table>