@{
    ViewData["Title"] = "Create User";
}

<div>
    <h3>Create User</h3>
</div>
<form method="post" style="margin: 5% 0 0">
    <div class="newUser">
        <p>First Name:</p>
        <input type="text" style="margin: 1px 0 2px" name="name" /><br />
        <p>Last Name:</p>
        <input type="text" style="margin: 1px 0 2px" name="surname" /><br />
        <p>Age:</p>
        <input type="number" style="margin: 1px 0 2px" name="age" /><br />
        <p>Email:</p>
        <input type="email" style="margin: 1px 0 2px" name="email" />
        <input type="submit" value="Create" />
    </div>
</form>

<p>
    @if (ViewBag.Submitted)
    {
        @ViewBag.Message // If the form was submitted
    }

</p>